# Build and debug files
build/
*.dSYM/
*.plist
*.o
*.a
*.bin
*.exe
main.dSYM/
main

# macOS specific files
.DS_Store

# VS Code settings (optional, if you don't want to share)
.vscode/

# Other temporary or system files
Thumbs.db